.block.block_anderspink {
}

.block.block_anderspink a.ap-article {
    text-decoration: none;
    color: inherit;
    margin-bottom: 12px;
    display: block;
    line-height: normal;
    overflow: hidden;
}

.block.block_anderspink .ap-article-text {
    font-size: 0.9em;
}
.block.block_anderspink .ap-margin-right {
    margin-right: 65px;
}


.block.block_anderspink .ap-article-image-container-top {
    margin-bottom: 5px;
    box-shadow: inset 0 0 1px #AAA;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-color: #FFF;
    background-image: url('https://anderspink.com/placeholder.jpg');
    height: 120px;
}
.block.block_anderspink .ap-article-image-container-top-inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 120px;
}

.block.block_anderspink .ap-article-image-container-side {
    float: right;
    box-shadow: inset 0 0 1px #aaa;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-color: #FFF;
    background-image: url('https://anderspink.com/placeholder.jpg');
    width: 60px;
    height: 35px;
}
.block.block_anderspink .ap-article-image-container-side-inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 60px;
    height: 35px;
}

.block.block_anderspink .ap-article-image {
    max-width: 100%;
}
.block.block_anderspink .ap-article-text-extra {
    font-size: 0.8em;
    color: #949494;
}
.block.block_anderspink .ap-article-content {
    font-size: 0.8em;
    margin-top: 0.2em;
}
.block.block_anderspink .ap-columns {
    overflow: hidden;
}
.block.block_anderspink .ap-two-column {
    padding: 0 5px;
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.block.block_anderspink .ap-two-column:nth-child(even) {
    margin-right: 0;
}
.block.block_anderspink .ap-two-column:nth-child(odd) {
    margin-left: 0;
    clear: both;
}
